* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  border: rgb(0, 0, 0);
  border-style: ridge;
  border-color: #9e9e9e33;
  background: white;
  border-radius: 25px;
  box-shadow: 4px 4px 8px #808080b8;
  margin-bottom: 10%;
}
.btn1,
.btn2 {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
.btn1 {
  background-color: rgb(0, 189, 101);
}
.btn2 {
  background-color: rgb(255, 0, 0);
}
.btn1:hover {
  background: rgb(218, 249, 243);
  border: 1px solid;
  color: rgb(0, 103, 29);
}
.btn2:hover {
  background: white;
  border: 1px solid;
  color: rgb(255, 0, 0);
}
.centertext {
  text-align: center;
}
.descriptiontext {
  color: rgb(41, 27, 23);
}
